<div class="container">


  <div class="left-side">

    <div class="overlay"></div>

    <div class="content">

      <div class="logo">
        🌿
      </div>

      <h1>EcoRota</h1>

      <p>
        Transformando descartes em impacto positivo
        para o planeta.
      </p>

    </div>

  </div>


  <div class="form-container">

    <div class="form-box">

      <h2>Bem-vindo ao EcoRota</h2>

      <span>
        Crie sua conta
      </span>

      <form [formGroup]="formulario">

        <div class="input-group">
          <input
            type="text"
            placeholder="Nome completo"
            formControlName="nomeCompleto"
          >
        </div>

        <div class="input-group">
          <input
            type="text"
            placeholder="Telefone"
            formControlName="telefone"
          >
        </div>

        <div class="input-group" [ngClass]="valido ? 'campoInvalido' : '' ">
          <input
            type="email"
            placeholder="E-mail"
            formControlName="email"
          >
        </div>
        @if (valido){
        <p class="campoInvalido-alert" >Email já cadastrado!</p>
        }

        <div class="input-group">
          <input
            type="password"
            placeholder="Senha"
            formControlName="senha"
          >
        </div>

        <div class="input-group">
          <input
            type="password"
            placeholder="Repetir senha"
            formControlName="confirmarSenha"
          >
        </div>
        @if (validacaoSenha){
          <p class="campoInvalido-alert" >Senhas diferentes!</p>
        }

        <button class="btn-register" (click)="enviarFormulario()">

          Criar conta

          <span>
            🌿
          </span>

        </button>

      </form>

      <div class="login-link">

        Já possui conta?

        <a routerLink="/login">
          Login
        </a>

      </div>

    </div>

  </div>

</div>
